@model IEnumerable<GOTech.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@* To register an employee, go to "Register" action method in "Account" controller *@
<p>
    @Html.ActionLink("Register", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HiringDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HiringDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { email = item.Email }) |
            @Html.ActionLink("Details", "Details", new { email = item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { email = item.Email})
        </td>
    </tr>
}

</table>
