@model IEnumerable<GOTech.Models.ApplicationUser>

@{

    ViewBag.Title = "Our Employees";
}
<div id="employeeHeader">
@Html.Partial("_EmployeesHeader")
</div>

<h2 class="display-4">@ViewBag.Title</h2>

@* To register an employee, go to "Register" action method in "Account" controller *@
<p>
    @Html.ActionLink("Register", "Register", "Account")
</p>
<label for="positionId"><b>Select a position</b></label>
<fieldset>
    <p>
        @Html.DropDownList("PositionId", (SelectList)ViewBag.Positions, htmlAttributes: new { @id = "positionId", onchange = "sendPositionId()" })
    </p>
</fieldset>

<!-- javascript for Ajax function - when the position is selected, only show employees with selected position-->
<script>
    function sendPositionId()
    {
        var id = $('#positionId').val();
        $.ajax({
            method: "POST",
            url: '@Url.Action("GetEmployeesByPositionId", "Employees")',
            updateTargetId: 'table',
            data: { id: id },
            // repopulate the table
            success: function (data) {
                $('#table').empty().html(data);
            }
        });
    }
</script>

<div id="table">
    @Html.Partial("_EmployeesTable", Model)
</div>